{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container-fluid background-login">
        <!-- section generale-->

        <div class="row d-flex">

                <div class="d-none col-md-6 d-md-block bruce">
                    <img src="{{ asset ('images/bruce22.png') }}" alt="">
                </div>
                    <div class="col-10 offset-1 col-md-6 offset-md-0 pt-5">

                        <section class="row d-flex justify-content-center ">

                            <div class="border-form">

                                <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>

                                {{ form_start(registrationForm) }}

                                {# Affichage des erreurs générales du formulaire #}
                                {{ form_errors(registrationForm) }}

                                
                                {{ form_row(registrationForm.email) }}
                                {{ form_row(registrationForm.plainPassword, {
                                    label: 'Password'
                                }) }}
                                {{ form_row(registrationForm.pseudo) }}

                                <div class="form-group">
                                    <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
                                </div>

                                {# Bouton de validation #}
                                {{ form_row(registrationForm.save) }}

                                {{ form_end(registrationForm) }}
                        </div>
                        </section>
                    </div>
                </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
