{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        label{
            display: none;
        }
    </style>
{% endblock %}

{# Titre de la page #}
{% block title %}Gestion du profil{% endblock %}

{# Contenu de la page #}
{% block body %}

    {# Affichage des messages flashs de type "success" si il y en a #}
    {% include 'partials/flashes/success.html.twig' %}

    {# H1 #}
    <div class="row">
         {# Affichage du formulaire de changement de photo de profil #}
        <div class="col-10 offset-1 offset-md-4 col-md-4 change-photo-form d-flex justify-content-center align-items-center my-4">
            {% if app.user.profilPic is null %}
                <div class="img-container d-flex justify-content-center align-items-center">
                    <img class="img-fluid img-thumbnail profil-pic" src="{{ asset('images/profilpicsBank/default_profil_pic.jpg') }}" alt="default_profil_pic">
                </div>
            {% else %}
                <div class="img-container d-flex justify-content-center align-items-center">
                    <img class="img-fluid img-thumbnail profil-pic" src="{{ asset('images/users/' ~ app.user.profilPic) }}" alt="profil_pic">
                </div>
            {% endif %}
            <h2 class="text-center mx-2 mb-0">Gestion du profil</h1>

        </div>
    </div>

    {# Formulaire de changement de photo de profil #}
    <div class="row profil-form">
        <div>
            <input type="submit" class=".custom-file-input btn btn-lg mb-4 change-photo" value="Changer la photo de profil">
        </div>
        <div class="form-appear d-none">
            {{ form(form) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 d-flex justify-content-center align-items-center mb-4">
            {# Infos du compte #}
            <ul class="list-group col-12 col-md-8 p-0">
                <li class="list-group-item bg-black">Adresse Email : <span class="text-info">{{ app.user.email }}</span></li>
                <li class="list-group-item bg-black">Pseudo : <span class="text-info">{{ app.user.pseudo }}</span></li>
                <li class="list-group-item bg-black">Date d'inscription : <span class="text-info">{{ app.user.registrationDate|date('d/m/Y') }}</span></li>
                <li class="list-group-item bg-black">Compte : <span class="text-info">{{ is_granted('ROLE_ADMIN') ? 'Administrateur' : 'Membre' }}</span></li>
            </ul>
        </div>
    </div>

{% endblock %}