{# Cette page utilise le squelette base.html.twig #}
{% extends 'base.html.twig' %}

{# Remplissage du block title avec le titre de la page #}
{% block title %}Liste des articles{% endblock %}

{% block body %}

<main>

	{# Affichage des messages flashs de type "success" si il y en a #}
	{% include 'partials/flashes/success.html.twig' %}
	{# Affichage des messages flashs de type "error" si il y en a #}
	{% include 'partials/flashes/error.html.twig' %}

    <div class="row">
    	<h1 class="col text-center my-5">Tous nos articles</h1>
	</div>

	{# Gestion de l'affichage par critères #}
	<div class="row">
		<div class="input-group col-8 offset-2 col-md-2 offset-md-8 mb-3 d-flex flex-row-reverse">
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Trier par</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<div class="dropdown-item">
						{% if getDirection is same as('asc') %}
							{{ knp_pagination_sortable(pageArticles, 'Date (+ récent au + ancien)', 'a.publicationDate') }}
						{% else %}
							{{ knp_pagination_sortable(pageArticles, 'Date (+ ancien au + récent)', 'a.publicationDate') }}
						{% endif %}
					</div>
					<!-- {# <div class="dropdown-item">
						{% if getDirection is same as('asc') or getDirection is same as (null) %}
							{{ knp_pagination_sortable(pageArticles, 'Nombre de likes (ordre décroissant)', 'a.likes', {}, {'direction': 'desc'}) }}
						{% else %}
							{{ knp_pagination_sortable(pageArticles, 'Nombre de likes (ordre croissant)', 'a.likes', {}, {'direction': 'asc'}) }}
						{% endif %} #} -->
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-10 offset-1 col-md-8 offset-md-2">

				{# Affichage des articles #}
				{% for article in pageArticles %}
					<div class="card">
						<div class="row no-gutters">
							<a href="{{ path('article_article', {slug: article.slug}) }}" class=" d-flex position-relative w-100">
								<div class="col-12 col-md-4 vh-10 d-md-block px-0">
									<img src="{{ asset('images/articles/' ~ article.picture) }}" alt="..." class="card-img-top">
								</div>
								<div class="col-12 col-md-8 d-md-block list-body">
									<div class="card-body">
										<h2 class="card-title list-title">{{ article.title }}</h2>
										<p class="card-text d-none d-lg-block">{{ article.content|striptags|slice(0,100) ~ '...' }}</p>
									</div>
								</div>
							</a>
							<div class="likescounter position-absolute">
								<a href="{{ path('article_article_like', {'id': article.id }) }}" class="btn btn-link js-like d-inline">
									<span class="js-likes">{{ article.likes|length }}</span>
									{% if app.user and article.isLikedByUser(app.user) %}
										<i class="fas fa-thumbs-up"></i>
									{% else %}
										<i class="far fa-thumbs-up"></i>
									{% endif %}
								</a>
							</div>
						</div>
					</div>
				{% endfor %}

	
			<div class="my-3 text-center">
				<div class="d-inline-block">
					{# Affichage du menu permettant de naviguer entre les différentes pages #}
					{{ knp_pagination_render(pageArticles) }}
				</div>
			</div>
	
		</div>
	</div>

</main>

{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="{{ asset('js/script.js') }}"></script>
	<script>
		// Système de likes
		function onClickBtnLike(event){
			event.preventDefault();
			let url = this.href;
			let spanCount = this.querySelector(".js-likes");
			let icone = this.querySelector("i");

			axios.get(url).then(function(response){
				spanCount.textContent = response.data.likes;

				if(icone.classList.contains('fas')){
					icone.classList.replace('fas', ('far'));
				} else {
					icone.classList.replace('far', 'fas');
				}
			}).catch(function(error){
				if(error.response.status === 403){
					window.alert("Il faut être connecté pour liker un article !");
				} else {
					window.alert("Une erreur s'est produite, veuillez réessayer plus tard.");
				}
			});
		}
		document.querySelectorAll(".js-like").forEach(function(link){
			link.addEventListener('click', onClickBtnLike);
		});
	</script>
{% endblock %}