{# Cette page utilise le squelette base.html.twig #}
{% extends 'base.html.twig' %}

{# Remplissage du block title avec le titre de la page #}
{% block title %}Liste des articles{% endblock %}

{% block body %}

<main>
    <div class="row">
    	<h1 class="col text-center my-5">Tous nos articles</h1>
	</div>

	{# Gestion de l'affichage par critères #}
	<div class="row">
		<div class="input-group col-8 offset-2 col-md-2 offset-md-8 mb-3 d-flex flex-row-reverse">
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Trier par</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<div class="dropdown-item">
						{% if getDirection is same as('asc') %}
							{{ knp_pagination_sortable(articles, 'Date (+ récent au + ancien)', 'a.publicationDate') }}
						{% else %}
							{{ knp_pagination_sortable(articles, 'Date (+ ancien au + récent)', 'a.publicationDate') }}
						{% endif %}
					</div>
					<div class="dropdown-item">
						{{ knp_pagination_sortable(articles, 'Nombre de likes', 'a.likes') }}
					</div>
					<a class="dropdown-item" href="#">Nombre de commentaires</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-8 offset-2">

				{# Affichage des articles #}
				{% for article in articles %}
					<a href="{{ path('article_article', {slug: article.slug}) }}" class="w-100">
						<div class="card">
							<div class="row no-gutters">
								<div class="col-md-4 vh-10">
									<img src="{{ asset('images/articles/' ~ article.picture) }}" alt="..." class="card-img-top">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h2 class="card-title">{{ article.title }}</h2>
										<p class="card-text">{{ article.content|striptags|slice(0,500) ~ '...' }}</p>
									</div>
								</div>
							</div>
						  </div>
					</a>
				{% endfor %}

	
			<div class="my-3 text-center">
				<div class="d-inline-block">
					{# Affichage du menu permettant de naviguer entre les différentes pages #}
					{{ knp_pagination_render(articles) }}
				</div>
			</div>
	
		</div>
	</div>

</main>

{% endblock %}
