{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}{{ article.title }}{% endblock %}

{% block stylesheets %}

{% endblock %}

{# Contenu de la page #}
{% block body %}

    {# Affichage des messages flashs de type "success" si il y en a #}
	{% include 'partials/flashes/success.html.twig' %}
	{# Affichage des messages flashs de type "error" si il y en a #}
	{% include 'partials/flashes/error.html.twig' %}

    <div class="row">
        <p class="col-12 text-center"><a href="{{ path('article_list') }}">Retour liste des articles</a></p>

        {% if is_granted('ROLE_ADMIN') %}
            <p class="col-12 col-md-2 offset-md-5 text-center alert alert-primary"><a href="{{path('article_edit', {slug: article.slug, csrf_token: csrf_token('article_edit' ~ article.slug) }) }}">Modifier l'article</a></p>
            <p class="col-12 col-md-2 offset-md-5 text-center alert alert-danger"><a href="{{path('article_delete', {id: article.id, csrf_token: csrf_token('article_delete_' ~ article.id )}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?')">Supprimer l'article</a></p>
        {% endif %}
    </div>

    {# Titre de l'article #}
    <div class="row">
        <img src="{{ asset('images/articles/' ~ article.picture ) }}" class="articleBanner col-12 col-md-6 offset-md-3 d-flex justify-content-center align-items-center">
            <h1>{{ article.title }}</h1>
        </img>
    </div>

    {# Affichage de l'article #}
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 p-3">
            <div>
                {# Affichage de la date et du pseudonym #}
                <footer>Publié le <strong class="text-dark">{{ article.publicationDate|date('d/m/Y à H\\hi') }}</strong> par <strong class="text-dark">{{ article.author.pseudo }}</strong></footer>

                {# Affichage de l'article #}
                <div class="mb-2">{{ article.content|purify }}</div>

            </div>
        </div>
    </div>
    <hr>
    <div class="row d-block">
        {#Partie commentaires#}
        <div class="col-12 col-md-6 offset-md-3 p-3">

            {# Si il n'y a pas de commentaires lié à cet article, message en conséquence #}
            {% if article.comments is empty %}

                <p class="text-center alert alert-warning">Aucun commentaire n'a été publié pour le moment.</p>

            {% else %}

                {# Affichage de tous les commentaires en les parcourant avec une boucle #}
                {% for comment in article.comments %}

                    <div class="card my-3 bg-dark">
                        <div class="card-body row">

                            {#TODO: Image de profil#}

                            {# Affichage de la date de publication du commentaire et du pseudo de son auteur #}
                            <div class="col-12 col-sm mt-2 mt-sm-0">
                                <footer class="blockquote-footer mb-4">Ajouté par <strong class="text-light mr-1">{{ comment.author.pseudo }}</strong>
                                    <br class="d-sm-none">Le <strong class="text-light">{{ comment.publicationDate|date('d/m/Y à H\\hi') }}</strong></footer>
                                <p>{{ comment.content|nl2br }}</p>
                            </div>

                            {# Si le'utilisateur est admin, affichage d'un menu admin avec un bouton de suppression du commentaire #}
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="admin-button-article">

                                    {# Le lien vers la page de suppression du commentaire doit contenir un token pour se prémunir des attaques CSRF #}
                                    <a href="{{ path('article_comment_delete', { id: comment.id, csrf_token: csrf_token('article_comment_delete' ~ comment.id) }) }}" class="text-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire ?')"><i class="fas fa-trash-alt mr-1"></i>Supprimer</a>
                                </div>
                            {% endif %}

                        </div>
                    </div>

                {% endfor %}

            {% endif %}

        </div>

        <div class="col-12 col-md-6 offset-md-3 p-3">
            {# Si l'utilisateur est connecté, affichage du formulaire de création d'un nouveau commentaire #}
            {% if app.user %}
                <h2 class="text-center my-5">Écrire un commentaire</h2>
                <div>{{ form(commentForm) }}</div>
            {% else %}
                <p class="text-center text-info mt-4">Vous devez <a href="{{ path('app_login') }}">vous connecter</a> pour laisser un commentaire.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}