<!DOCTYPE html>
<html class="h-100" lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="d-flex flex-column h-100 bg-grade"><!--class a rajouter pour le footer-->

        <div class="container-fluid">
            <!--Navbar principal, doc bootstrap : navbar> Toggler-->

            <!--Navbar-->
            <nav class="row navbar navbar-expand-lg navbar-dark navbar-1 dark sticky-top bg-sand">
                <!-- Navbar brand -->
                <a class="navbar-brand" href="{{ path('main') }}"><h1>YOUnison</h1></a>
                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
                aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent15">
                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item nav-left active">
                        <a class="nav-link  black-effect" href="{{ path('main') }}">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item nav-left">
                        <a class="nav-link  black-effect" href="{{ path('article_list') }}">Articles</a>
                    </li>
                    {# Bouton vers la création d'une nouvelle publication si l'utilisateur possède le rôle admin #}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item nav-left">
                        <a class="nav-link  black-effect" href="{{ path('article_new_article') }}">Publier</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto pr-2 nav-right">
                    {# Boutons si l'utilisateur est connecté #}
                    {% if app.user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light d-flex align-items-center justify-content-center p-0" href="#" id="profil-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {# Si l'utilisateur n'a pas de photo de profil, on affiche l'image par défaut #}
                                {% if app.user.profilPic is null %}
                                    <div class="img-container-navbar d-flex align-items-center justify-content-center">
                                        <img class="img-fluid img-thumbnail profil-pic mr-2" src="{{ asset('images/profilpicsBank/default_profil_pic.jpg') }}" alt="default_profil_pic">
                                    </div>
                                {# Sinon on affiche sa photo #}
                                {% else %}
                                    <div class="img-container-navbar d-flex align-items-center justify-content-center">
                                        <img class="img-fluid img-thumbnail profil-pic mr-2" src="{{ asset('images/users/' ~ app.user.profilPic) }}" alt="profil_pic">
                                    </div>
                                {% endif %}
                                {{ app.user.pseudo }}
                            </a>
                            <div class="dropdown-menu profil-menu" aria-labelledby="profil-dropdown">
                                <a href="{{ path('profil') }}" class="dropdown-item"><i class="fas fa-users-cog mr-1"></i> Mon Profil</a>
                                <a href="{{ path('app_logout') }}" class="dropdown-item"><i class="fas fa-sign-out-alt mr-1"></i>Déconnexion</a>
                                {# Bouton vers l'administration si l'utilisateur possède le rôle admin #}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="text-danger dropdown-item" href="{{ path('easyadmin') }}"><i class="fas fa-tools mr-1"></i>Administration</a>
                                {% endif %}
                            </div>
                        </li>
                     {# Boutons si l'utilisateur n'est pas connecté #}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
                        </li>
                    {% endif %}
                </ul>
                <!-- Links -->
                </div>
                <!-- Collapsible content -->
            </nav>
            
{% block body %}{% endblock %}

    </div>
            <!--Footer-->
            <footer class="nav justify-content-center footer bg-sand mt-auto pt-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 mt-1 container align-items-center pb-5">
                            <div class="button"><p class="liens">Retrouvez-nous</p></div>
                            <div class="social twitter"><a href="https://twitter.com/explore" target="_blank"><i class="fab fa-twitter"></i></a></div>
                            <div class="social facebook"><a href="https://fr-fr.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></div>
                            <div class=" social instagram"><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></div>
                            <div class="social youtube"><a href="https://www.youtube.com/?hl=fr&gl=FR" target="_blank"><i class="fab fa-youtube"></i></a></div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                            <defs>
                            <filter id="goo">
                                <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" /><!--La primitive de filtre SVG <feGaussianBlur> applique un effet de flou à l'image en entrée.-->
                                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                                <feBlend in="SourceGraphic" in2="goo" />
                            </filter>
                            </defs>
                        </svg>

                    </div>
                </div>
            </footer>

        {# Inclusion des fichiers JS généraux du site #}
        <script src="{{ asset('js/jquery-3.5.1.slim.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
